name: "Build & deploy"

on:
  push:
    tags: ['v*']

permissions:
  contents: write

jobs:
  export_model:
    name: Export Model
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Free Disk Space
      run: |
        sudo rm -rf /usr/share/dotnet
        sudo rm -rf /opt/ghc
        sudo rm -rf "/usr/local/share/boost"

    - name: Setup Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.12'
    
    - name: Install yolov11 and export the model
      run: |
        pip install ultralytics tensorflow-cpu
        yolo export model=yolo11n.pt format=tflite
        mv yolo11n_saved_model/yolo11n_float32.tflite assets/models/yolov11n.tflite

    - name: Upload artifact
      uses: actions/upload-artifact@v6
      with:
        name: tflite-model
        path: assets/models/yolov11n.tflite

  build_deploy:
    name: Build & deploy for Android and Linux
    needs: export_model
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Download artifact
      uses: actions/download-artifact@v7
      with:
        name: tflite-model
        path: assets/models/

    - name: Setup Java
      uses: actions/setup-java@v5
      with:
        distribution: 'temurin'
        java-version: '17'

    - name: Setup Flutter
      uses: subosito/flutter-action@v2
      with:
        channel: stable
        cache: true

    - name: Enable native assets
      run: flutter config --enable-native-assets

    - name: Build Android
      run: flutter build apk --release --split-per-abi --obfuscate --split-debug-info=/tmp

    - name: Build Linux
      run: |
        sudo apt update
        sudo apt install -y clang cmake ninja-build pkg-config libgtk-3-dev
        flutter build linux --release

    - name: Tar linux package
      run: tar -C build/linux/x64/release/bundle -czf yolo_flutter-linux-x64.tar.gz .

    - name: Release to GitHub
      uses: ncipollo/release-action@v1
      with:
        artifacts: "build/app/outputs/flutter-apk/app-*-release.apk,yolo_flutter-linux-x64.tar.gz"
        token: ${{ secrets.GITHUB_TOKEN }}
        tag: ${{ github.ref_name }}
        allowUpdates: true